* {
    font-family: sans-serif;
    background: linear-gradient(90deg, #c3e4d5 0%, #94f0d3 100%);
    color: #000000;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#navbar a {
    text-decoration: underline;
    cursor: pointer;
    font-size: larger;
}

#update-log #title {
    font-size: 250%; 
    font-weight: bold; 
    text-align: center;
}

#update-log #date {
    font-size: x-large; 
    font-weight: 100;
}

#update-log #content {
    font-size: x-large;
}