html body {
    font-family: 'FiraCode NFM', 'Cascadia Code', 'sans-serif';
}

#title {
    text-align: center;
    font-style: normal;
    font-weight: bolder;
}

#sub-title {
    text-align: center;
    font-weight: bolder;
    font-style: normal;
}

.line1 {
    background-color: black;
}