html body {
    font-family: 'FiraCode NFM', 'Cascadia Code', 'sans-serif';
}

.top-title {
    text-align: center;
    font-style: normal;
    font-weight: bolder;
}

.line1 {
    background-color: black;
}

.link-social-media, a {
    margin: 2vh;
    text-align: center;
    text-decoration: none;
    color: #0f2341;
}

article section {
    margin: 3vh;
    text-align: center;
}